#footer-wrap
  - var now = new Date()
  - var nowYear = now.getFullYear()
  if theme.since && theme.since != nowYear
    span= `&copy;${theme.since} - ${nowYear}. ${theme.author}. `
  else
    span= `&copy;${nowYear}. ${theme.author}. `
  if theme.footer_copyright.enable
    span= `${theme.footer_copyright.text}. `
  if theme.footer_custom_text
    span= `${theme.footer_custom_text}`
